<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [2]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.11/site-packages (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.9.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [3]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [4]:
# Write your code here
# Display column data types, non-null counts, and total counts (including nulls)
summary = pd.DataFrame({
    'Data Type': df.dtypes,
    'Non-null Count': df.count(),
    'Missing Values': df.isnull().sum(),
    'Total Count (Including Nulls)': df.shape[0]  # Total number of rows
})

# Display the summary
print(summary)

                    Data Type  Non-null Count  Missing Values  \
ResponseId              int64           65437               0
MainBranch             object           65437               0
Age                    object           65437               0
Employment             object           65437               0
RemoteWork             object           54806           10631
...                       ...             ...             ...
JobSatPoints_11       float64           29445           35992
SurveyLength           object           56182            9255
SurveyEase             object           56238            9199
ConvertedCompYearly   float64           23435           42002
JobSat                float64           29126           36311

                     Total Count (Including Nulls)
ResponseId                                   65437
MainBranch                                   65437
Age                                          65437
Employment                                   65437
RemoteWork                                   65437
...                                            ...
JobSatPoints_11                              65437
SurveyLength                                 65437
SurveyEase                                   65437
ConvertedCompYearly                          65437
JobSat                                       65437

[114 rows x 4 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
# Write your code here
numerical_summary = df.describe()
numerical_summary

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [6]:
df['Country'].isnull().value_counts()

Country
False    58930
True      6507
Name: count, dtype: int64

In [7]:
#Get Rid of duplicates.
df.drop_duplicates(inplace = True)
# Write your code here
print(df.duplicated().value_counts())


# Check the unique values in the 'Country' column
unique_countries = df['Country'].unique()

# Display the unique values
print(unique_countries)


# Check for missing (null) values
missing_countries = df['Country'].isnull().sum()

# Display the count of missing values
print(f"Number of missing values in 'Country': {missing_countries}")

False    65437
Name: count, dtype: int64
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
Number of missing values in 'Country': 6507

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [8]:
print(df['EdLevel'].isnull().value_counts())
print(df['Country'].isnull().value_counts())
print(df['EdLevel'].unique())
edlevel_mapping = {
    'Primary/elementary school': 'Primary/Elementary School',
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor’s Degree',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master’s Degree',
    'Some college/university study without earning a degree': 'Some College',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'High School',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Professional Degree',
    'Associate degree (A.A., A.S., etc.)': 'Associate Degree',
    'Something else': 'Other',
    np.nan: 'Unknown'  # Handling NaN values if needed
}

# Apply the mapping to the 'EdLevel' column
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Show the standardized DataFrame
print(df['EdLevel'].unique())

# Mapping for standardizing the country names
country_mapping = {
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Republic of Korea': 'South Korea',
    'United Republic of Tanzania': 'Tanzania',
    'Republic of North Macedonia': 'North Macedonia',
    'Russian Federation': 'Russia',
    'Viet Nam': 'Vietnam',
    'Democratic Republic of the Congo': 'DR Congo',
    'Syrian Arab Republic': 'Syria',
    "Democratic People's Republic of Korea": 'North Korea',
    'Côte d\'Ivoire': 'Ivory Coast',
    'Libyan Arab Jamahiriya': 'Libya',
    'Brunei Darussalam': 'Brunei',
    'Bahamas': 'The Bahamas',
    'Hong Kong (S.A.R.)': 'Hong Kong',
    'Lao People\'s Democratic Republic': 'Laos',
    'Mongolia': 'Mongolia',
    'Solomon Islands': 'Solomon Islands',
    'Isle of Man': 'Isle of Man',
    'Nomadic': 'Nomadic',
    'Malta': 'Malta',
    'New Zealand': 'New Zealand',
    'Palestine': 'Palestine',
    'Armenia': 'Armenia',
    'United Arab Emirates': 'UAE',
    'Maldives': 'Maldives',
    'Ethiopia': 'Ethiopia',
    'Fiji': 'Fiji',
    'Guatemala': 'Guatemala',
    'Uganda': 'Uganda',
    'Turkmenistan': 'Turkmenistan',
    'Mauritius': 'Mauritius',
    'Kenya': 'Kenya',
    'Cuba': 'Cuba',
    'Gabon': 'Gabon',
    'South Korea': 'South Korea',
    'Iceland': 'Iceland',
    'Honduras': 'Honduras',
    'Togo': 'Togo',
    'Oman': 'Oman',
    'Barbados': 'Barbados',
    'Andorra': 'Andorra',
    'Qatar': 'Qatar',
    'Sudan': 'Sudan',
    'Cameroon': 'Cameroon',
    'Papua New Guinea': 'Papua New Guinea',
    'Bahrain': 'Bahrain',
    'Yemen': 'Yemen',
    'Malawi': 'Malawi',
    'Burkina Faso': 'Burkina Faso',
    'Botswana': 'Botswana',
    'Guinea-Bissau': 'Guinea-Bissau',
    'Mozambique': 'Mozambique',
    'Central African Republic': 'Central African Republic',
    'Equatorial Guinea': 'Equatorial Guinea',
    'Suriname': 'Suriname',
    'Belize': 'Belize',
    'Cape Verde': 'Cape Verde',
    'Bhutan': 'Bhutan',
    'Guinea': 'Guinea',
    'Niger': 'Niger',
    'Antigua and Barbuda': 'Antigua and Barbuda',
    'Mali': 'Mali',
    'Samoa': 'Samoa',
    'Lesotho': 'Lesotho',
    'Saint Kitts and Nevis': 'Saint Kitts and Nevis',
    'Monaco': 'Monaco',
    'Micronesia, Federated States of...': 'Micronesia',
    'Haiti': 'Haiti',
    'Congo, Republic of the...' : 'Congo',
    'Unknown': 'Unknown',  # Handling NaN values
    np.nan: 'Unknown',  # Handling NaN values explicitly
    'Swaziland': 'Eswatini',  # Updated to the official name if you prefer it
    'Venezuela, Bolivarian Republic of...': 'Venezuela',  # Shortened to common name
    'Iran, Islamic Republic of...': 'Iran',  # Shortened to common name
    'Republic of Moldova': 'Moldova',  # Simplified to common name
}

# Apply the mapping to the 'Country' column
df['Country'] = df['Country'].replace(country_mapping)

# Show the standardized DataFrame or check unique values
print(df['Country'].unique())

EdLevel
False    60784
True      4653
Name: count, dtype: int64
Country
False    58930
True      6507
Name: count, dtype: int64
['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]
['Primary/Elementary School' 'Bachelor’s Degree' 'Master’s Degree'
 'Some College' 'High School' 'Professional Degree' 'Associate Degree'
 'Other' 'Unknown']
['United States' 'United Kingdom' 'Canada' 'Norway' 'Uzbekistan' 'Serbia'
 'Poland' 'Philippines' 'Bulgaria' 'Switzerland' 'India' 'Germany'
 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil' 'Japan' 'Austria' 'Iran'
 'France' 'Saudi Arabia' 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden'
 'Netherlands' 'Croatia' 'Pakistan' 'Czech Republic' 'North Macedonia'
 'Finland' 'Slovakia' 'Russia' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'Tanzania' 'Hungary' 'Argentina' 'Portugal' 'Sri Lanka' 'Latvia' 'China'
 'Singapore' 'Lebanon' 'Spain' 'South Africa' 'Lithuania' 'Vietnam'
 'Dominican Republic' 'Indonesia' 'Kosovo' 'Morocco' 'Taiwan' 'Georgia'
 'San Marino' 'Tunisia' 'Bangladesh' 'Nigeria' 'Liechtenstein' 'Denmark'
 'Ecuador' 'Malaysia' 'Albania' 'Azerbaijan' 'Chile' 'Ghana' 'Peru'
 'Bolivia' 'Egypt' 'Luxembourg' 'Montenegro' 'Cyprus' 'Paraguay'
 'Kazakhstan' 'Slovenia' 'Jordan' 'Venezuela' 'Costa Rica' 'Jamaica'
 'Thailand' 'Nicaragua' 'Myanmar' 'South Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Moldova' 'Isle of Man'
 'Nomadic' 'New Zealand' 'Palestine' 'Armenia' 'UAE' 'Maldives' 'Ethiopia'
 'Fiji' 'Guatemala' 'Uganda' 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba'
 'Gabon' 'The Bahamas' 'Iceland' 'Honduras' 'Hong Kong' 'Laos' 'Mongolia'
 'Cambodia' 'Madagascar' 'Angola' 'DR Congo' 'Syria' 'Iraq' 'Namibia'
 'Senegal' 'Kyrgyzstan' 'Zambia' 'Eswatini' 'Ivory Coast' 'Kuwait'
 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania' 'Sierra Leone'
 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana' 'Togo' 'Oman'
 'Barbados' 'Andorra' 'Qatar' 'Sudan' 'Cameroon' 'Papua New Guinea'
 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso' 'Congo' 'Botswana'
 'Guinea-Bissau' 'Mozambique' 'Central African Republic'
 'Equatorial Guinea' 'Suriname' 'Belize' 'Libya' 'Cape Verde' 'Brunei'
 'Bhutan' 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia' 'Haiti' 'Unknown' 'Nauru'
 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [9]:
df[['Employment']]

                Employment
0      Employed, full-time
1      Employed, full-time
2      Employed, full-time
3       Student, full-time
4       Student, full-time
...                    ...
65432  Employed, full-time
65433  Employed, full-time
65434  Employed, full-time
65435  Employed, full-time
65436   Student, full-time

[65437 rows x 1 columns]

In [10]:
## Write your code here
# Perform one-hot encoding on the 'Employment' column
df_encoded = pd.get_dummies(df['Employment'])

# Drop the 'Employment' column and concatenate the encoded columns to the original DataFrame
df = df.drop('Employment', axis=1)  # Drop the original 'Employment' column
df = pd.concat([df, df_encoded], axis=1)  # Add the encoded columns to the DataFrame

df_encoded

,"Employed, full-time","Employed, full-time;Employed, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed","Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired","Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work","Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed;Retired","Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time",...,"Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time","Student, full-time;Not employed, but looking for work;Retired","Student, full-time;Not employed, but looking for work;Student, part-time","Student, full-time;Retired","Student, full-time;Student, part-time","Student, full-time;Student, part-time;Employed, part-time","Student, full-time;Student, part-time;Retired","Student, part-time","Student, part-time;Employed, part-time","Student, part-time;Retired"
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65433,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65434,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65435,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65436,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [11]:
## Write your code here
# Check for missing values across all columns
# Count the number of missing values in each column
missing_values = df.isnull().sum()

# Sort columns by the number of missing values in descending order
sorted_missing = missing_values.sort_values(ascending=False)

# Display the columns with the highest number of missing values
print(sorted_missing)

#IF you want to see the percentage that has missing values use the following code below.
#missing_percentage = (missing_values / len(df)) * 100

#sorted_percentage = missing_percentage.sort_values(ascending=False)

#print(sorted_percentage)
df.columns[df.isnull().any()]

AINextMuch less integrated                                   64289
AINextLess integrated                                        63082
AINextNo change                                              52939
AINextMuch more integrated                                   51999
EmbeddedAdmired                                              48704
                                                             ...
Student, full-time;Student, part-time;Employed, part-time        0
Student, full-time;Student, part-time;Retired                    0
Student, part-time                                               0
Student, part-time;Employed, part-time                           0
Student, part-time;Retired                                       0
Length: 223, dtype: int64

Index(['RemoteWork', 'CodingActivities', 'LearnCode', 'LearnCodeOnline',
       'TechDoc', 'YearsCode', 'YearsCodePro', 'DevType', 'OrgSize',
       'PurchaseInfluence',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=107)

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [12]:
df['ConvertedCompYearly']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
65432   NaN
65433   NaN
65434   NaN
65435   NaN
65436   NaN
Name: ConvertedCompYearly, Length: 65437, dtype: float64

In [13]:
## Write your code here
ConvertedCompYearly_mean = df['ConvertedCompYearly'].mean()
#df['ConvertedCompYearly'].replace(np.nan, ConvertedCompYearly_mean, inplace=True)
#The commented line updates the dataframe in one line without re-assinging the variable.
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].replace(np.nan, ConvertedCompYearly_mean)
df['ConvertedCompYearly']

0        86155.287263
1        86155.287263
2        86155.287263
3        86155.287263
4        86155.287263
             ...
65432    86155.287263
65433    86155.287263
65434    86155.287263
65435    86155.287263
65436    86155.287263
Name: ConvertedCompYearly, Length: 65437, dtype: float64

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [14]:
df['RemoteWork']

0                                      Remote
1                                      Remote
2                                      Remote
3                                         NaN
4                                         NaN
                         ...
65432                                  Remote
65433                                  Remote
65434                               In-person
65435    Hybrid (some remote, some in-person)
65436                                     NaN
Name: RemoteWork, Length: 65437, dtype: object

In [15]:
## Write your code here
most_freq_value_remotework = df['RemoteWork'].value_counts().idxmax()
#df['RemoteWork'].replace(np.nan, most_freq_value_remotework, inplace=True)
#The commented line updates the dataframe in one line without re-assinging the variable.
df['RemoteWork'] = df['RemoteWork'].replace(np.nan, most_freq_value_remotework)
df['RemoteWork']

# Another way to get the most frequent value.
#df['RemoteWork'].fillna(df['RemoteWork'].mode()[0])

0                                      Remote
1                                      Remote
2                                      Remote
3        Hybrid (some remote, some in-person)
4        Hybrid (some remote, some in-person)
                         ...
65432                                  Remote
65433                                  Remote
65434                               In-person
65435    Hybrid (some remote, some in-person)
65436    Hybrid (some remote, some in-person)
Name: RemoteWork, Length: 65437, dtype: object

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [ ]:
## Write your code here
df['ConvertedCompYearly'] = (df['ConvertedCompYearly']-df['ConvertedCompYearly'].min())/(df['ConvertedCompYearly'].max()-df['ConvertedCompYearly'].min())
df['ConvertedCompYearly']

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [ ]:
## Write your code hereW
# Apply the log transformation (log(1 + x))
df['LogConvertedCompYearly'] = np.log1p(df['ConvertedCompYearly'])


print("Skewness before log transformation:", df['ConvertedCompYearly'].skew())
print("Skewness after log transformation:", df['LogConvertedCompYearly'].skew())
df['YearsCodePro']

### 7. Feature Engineering

In [ ]:
#First we clean the data app since there are missing values, we are going to use the most frequent value
most_freq_value_YearsCodePro = df['YearsCodePro'].value_counts().idxmax()

df['YearsCodePro'] = df['YearsCodePro'].replace(np.nan, most_freq_value_YearsCodePro)

df['YearsCodePro'] = df['YearsCodePro'].replace('Less than 1 year', '0')
df['YearsCodePro'] = df['YearsCodePro'].replace('More than 50 years', '51')

df['YearsCodePro'] = df['YearsCodePro'].astype(int)

df['YearsCodePro']

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [ ]:
## Write your code here
def get_experience_level(years):
    if years <= 5:
        return 'Beginner'
    elif years <= 10:
        return 'Intermediate'
    elif years <= 20:
        return 'Experienced'
    else:
        return 'Expert'

# Apply function to create new 'ExperienceLevel' column
df['ExperienceLevel'] = df['YearsCodePro'].apply(get_experience_level)

print(df['ExperienceLevel'])

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.